<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>
  <link rel='stylesheet' href='http://cdn.staticfile.org/jquery-mobile/1.3.2/jquery.mobile.css' />
  <script src='http://cdn.staticfile.org/jquery/2.0.3/jquery.js'></script>
  <script src='http://cdn.staticfile.org/jquery-mobile/1.3.2/jquery.mobile.js'></script>
</head>
<body>
<div data-role='page'>
  <div data-role='header'>
    <h1>跳转专用,jquery mobile我不会跳转</h1>
  </div>
  <div data-role='content'>
  <p>
    马上跳转..
    <script>
    location.href='<%= url%>'
    </script>
  </p>
  </div>
  <div data-role='footer'>
    <h1>chat room</h1>
  </div>
</div>

</script>
</body>
</html>

